.item-grid{
    display: flex;
    flex-wrap: wrap;
    margin: 0em auto;
    padding: 12px 24px;
    justify-content: space-evenly;
    width: 98vw;
    
}
.card-image{
    background-color: aqua;
    height: 80%;
}
.card{
    margin: 10px;
    
    width: 400px;
    height: 300px;
    outline: 2px solid black;
   
}
.card-text{
    background-color: rgb(218, 218, 218);
    height: 40px;
    text-align: center;
    padding: 12px 24px;
}
.card-text span{
    font-size: 1.2em;
}