.nav{
    padding: 0px;
    margin-top: 0px;
    height: 5em;
    border-top: 3.5px solid rgb(0, 0, 122);
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.nav-titles{
    /* font-family: 'LL Circular'; */
    font-size: 1.3em;
    /* margin-top: 1em; */
    display: flex;
    justify-content: space-evenly;
}
.nav-titles li{
    list-style: none;
    height: 50px;
    cursor: pointer;
}
.cart span{
    margin-right: 1.2em;
}
.logo{
    /* padding-top: 0px !important; */
    font-size: 1.5em;
    /* margin-top: 4px; */
    font-weight: 1000;
    color: #142b6f;
}
.cart-icon{
    font-size: 1.3em;
    margin-top: 10px;
}

li:hover{
    border-bottom: 5px solid rgb(255, 217, 4);
}
.Menu{
    margin-top: 4px;
}